.env
node_modules/
output/
tmp/
deployment/*.zip
Crossroad-Website-deployment-*.zip
.env.*
!.env.example

uploads/*
!uploads/.htaccess
!uploads/contracts/
uploads/contracts/*
!uploads/contracts/.htaccess
